GOOGLE_SHEET_ID=1YjdaEGDuUs2Sqo7823bs2RGrE4_geJkGfRmNcFmDG5o
GOOGLE_SHEET_NAME=Sheet1
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
GOOGLE_PRIVATE_KEY_B64=optional-base64-version-of-the-private-key
TELEGRAM_BOT_TOKEN=123456789:your-telegram-bot-token
TELEGRAM_CHAT_ID=-1003925890396
