GOOGLE_SHEET_ID=1YjdaEGDuUs2Sqo7823bs2RGrE4_geJkGfRmNcFmDG5o
GOOGLE_SHEET_NAME=Sheet1
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
TELEGRAM_BOT_TOKEN=8722407982:AAGpLlL7M2SoZgIBKHI2ywmHcwImLLdB5aI
TELEGRAM_CHAT_ID=-1003925890396
